body {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:12px;
    font-weight:500;
}
div.tab {
    width: 100%;
}
div.tab button {
    height:40px;
    display:block;
    position:relative;
    float:left;
    text-align: center;
    line-height: 40px;
    padding: 0px 10px 0px 10px;
    color: #337AB7;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}
div.tab button:hover {
    background-color: #EEEEEE;
    border-radius: 5px 5px 0 0;
    border-bottom: 0.05em solid #DDDDDD;
    color:#2352A1;
}
div.tab button:active {
    border-radius: 5px 5px 0 0;
    border-top:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    color:black;
    background-color: white;
    border-bottom:none;
}

div.tab button:focus {
    border-radius: 5px 5px 0 0;
    border-top:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    color:black;
    background-color: white;
    border-bottom:none;
}
.tabcontent button {
    background-color:#5BC0DE;
    height: 35px;
    border: none;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding:0 10px 0 10px;
    margin:0px 15px 0px 20px;
    cursor: pointer;
}
.tabcontent span {
    margin: 20px 10px 0 50px; 
}
.tabcontent {
    display: none;
    border-top: 1px solid #ccc;
    padding:25px 0 15px 0;
    height:60px;
}
#nav2 {
    height:70px;
    width:100%;
    float:left;
    margin:5px 0 0 0;
}
.tabcontent button:hover {
    background-color:#31B0D5;
}
#left {
    height:800px;
    width:21%;
    margin:30px 0 0 0;
    float:left;
    border-top:1px solid grey;
    box-shadow:0px 0px 20px #888888;
}
#map {
    height:800px;
    width:79%;
    background-color:grey;
    margin:30px 0 0 0;
    float:right;
    position: relative;
}
.scrollbar {
    float: left;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}	
.add-new {
    margin: 0px 0 0px 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.add-new input{
    height: 40px;
}
.add-new span {
    font-size: 14px;
    font-weight: 500px;
    position: relative;
    top:-15px;
    cursor: pointer;
}
.add-new img {
    margin:10px 0 0 20px;
    float:right;
    border: 1px solid rgb(70, 184, 218);
}
li{
    float: left;
}
#active{
    border-radius: 5px 5px 0 0;
    border-top:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    color:black;
    background-color: white;
    border-bottom:none;
}